.navbar_container{
    display: flex;
    justify-content: space-between;
    width: 1600px;
}
.logo{
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
}
.petlogo{
	margin-right:1rem ;
    color: red;
}
.links{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    cursor: pointer;
}
.links>a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.reg_button>button{
    width: 9rem;
    background-color: red;
    color: white;
    padding: 0.9rem;
    border-radius: 1rem;
    font-size: 18px;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .navbar_container{
        flex-direction: column;
    }
}